@charset "UTF-8";

/*Não alterar*/
* {
  padding: 0;
  margin: 0;
}
/*Não alterar*/
html {
  scroll-behavior: smooth;
}
/*Não alterar*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #005387;
}

/*Estilo do cabeçalho (altera no site todo)*/
header {
  text-align: center;
  margin-bottom: 15px;
  color: white;
}

header h1 {
  margin-top: 15px;
}

header p {
  padding: 15px;
}

header a {
  text-decoration: none;
  color: white;
}

header img {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 15%;
  border-radius: 45%;
}

/*Aqui são os estilos dos botões (altera em todas as páginas)*/
div {
  display: flex;
  justify-content: center;
  margin: auto;
}

div button{
  font-size: 1.1em;
  text-align: left;
  margin-bottom: 15px;
  padding: 15px 0px 15px 15px;
  border-radius: 10px;
  border: 0;
  width: 40%;
  background: white;
  cursor: pointer;
}

div button:hover {
  transition: ease-in-out 0.7s;
  box-shadow: 8px 8px 10px 5px #041825;
  margin-bottom: 25px;
  padding: 25px;
  font-size: 1.4em;
  width: 50%;
}

/*Aqui é o estilo da Agenda (não alterar)*/
section{
display: flex;
justify-content: center;
}

article {
  width: 40%;
  margin-bottom: 15px;;
  border-radius: 10px;
  border: 0;

  
}

article h1{
  text-align: center;
  padding: 10px;
  background-color: #ddd;
  border-radius: 10px 10px 0px 0px;
}

table {
  border-collapse: collapse;

}

  th, td {
    padding: 12px;
    border: 3px solid #ddd;
    width: 100%;
    background-color: #005387;
    color: #ddd;
    
  }

/*Aqui é o estilo das aulas extras e download*/
.options i {
  color: red;
}

#map:hover{
  border: none;
  background-color: red;

}

#map i {
  color: black;
}

/*Configuração da agenda*/
#mostrarTabela {
  border: 0;
  width: 40%;
  font-size: 1.2em;
  text-align: center;
  display: flex;
  margin: 10px auto 10px auto;
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
}

.tabela {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, height 0.5s ease;
}
.tabela.ativa {
  opacity: 1;
  height: auto;
}
/*Não alterar o footer*/

footer {
  padding: 10px;
  background-color: #041825;
  color: white;
}
footer p {
  text-align: center;
}



footer ul {
  margin-top: 8px;
  font-size: 0.8em;
  border-left: 2px solid white;
  list-style-type: none;
}

footer li {
  padding: 3px;
}

footer li a {
  margin-left: 2px;
  text-decoration: none;
  color: white;
}

footer li a:hover {
  padding: 6px;
  background-color: white;
  border-radius: 5px;
  color: black;
}
